<div class="container">
	
	<h3>วิธีการสั่งซื้อ-ชำระเงิน<small></small></h3>
	<ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#/">หน้าแรก</a></li>
        <li class="active"><span>วิธีการสั่งซื้อ-ชำระเงิน</span></li>
    </ol>
	
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/1.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h3>ขั้นที่ 1 <small style="color:#999">เริ่มต้น</small></h3>
			<h4>เริ่มต้นค้นหาสิ่งใหม่ๆให้กับชีวิต</h4>
			<div align="center"><a class="btn btn-lg btn-primary" href="#/" role="button">ดูรายละเอียด</a></div>
		
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/2.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8"><h3>ขั้นที่ 2 <small style="color:#999">ลงทะเบียนเป็นสมาชิก</small></h3>
		<h4>ลงทะเบียนเป็นสมาชิกเว็บไซต์ เพื่อสามารถใช้งานเว็บไซต์ได้อย่างสมบูรณ์ เช่น การสั่งซื้อสินค้า การตรวจสอบการใช้งานต่างๆ</h4>
		<div align="center"><a class="btn btn-lg btn-primary" href="#/login_registration" role="button">ดูรายละเอียด</a></div></div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/3.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8"><h3>ขั้นที่ 3 <small style="color:#999">เลือกสินค้า</small></h3>
		<h4>สินค้าหลากหลายให้คุณเลือกซื้อหาได้อย่างง่าย</h4>
		<div align="center"><a class="btn btn-lg btn-primary" href="#/products/all" role="button">ดูรายละเอียด</a></div></div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/7.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8"><h3>ขั้นที่ 4 <small style="color:#999">สั่งซื้อ</small></h3>
		<h4>สินค้าหลากหลายให้คุณเลือกซื้อหาได้อย่างง่าย</h4>
		<div align="center"><a class="btn btn-lg btn-primary" href="#/cart" role="button">ดูรายละเอียด</a></div></div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/4.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8"><h3>ขั้นที่ 5 <small style="color:#999">ชำระเงิน</small></h3>
		<h4>ทำการชำระเงินที่ธนาคารใกล้บ้าน</h4></div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/5.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8"><h3>ขั้นที่ 6 <small style="color:#999">ส่งหลักฐานการชำระเงิน</small></h3>
		<h4>ส่งหลักฐานการชำระเงิน</h4>
		<div align="center"><a class="btn btn-lg btn-primary" href="#/order" role="button">ดูรายละเอียด</a></div></div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-4"><img src="images/6.png" width="350px" height="200px" class="img-circle"></div>
		<div class="col-xs-12 col-sm-6 col-md-8"><h3>ขั้นที่ 7 <small style="color:#999">รับของ</small></h3>
		<h4>รอรับสินค้า</h4>
	</div>

</div>