<div class="container">
	
	<h3>แจ้งการชำระเงิน<small></small></h3>
	<ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#/">หน้าแรก</a></li>
        <li><a href="#/order">รายการสั่งซื้อ</a></li>
        <li class="active"><span>แจ้งการชำระเงิน</span></li>
    </ol>

    <div class="row" ng-hide="odata">
		<div class="col-md-12 col-xs-12 text-center" style="padding:80px 0 80px 0;">
			<h2>ไม่มีรายการสั่งซื้อ</h2>
			<h3>หรือ</h3>
			<h2>แจ้งการจ่ายเงินสำหรับรายการสั่งซื้อนี้แล้ว</h2>
		</div>
	</div>

    <div class="row" ng-hide="!odata">
    	
		<div class="col-md-4 col-xs-12 col-md-offset-2">
			<h4 class="text-center">รายละเอียดรายการสั่งซื้อ</h4>
    		<hr>
    		<div class="panel panel-default">
    			<div class="panel-body">
    			   		<h5>รายการสั่งซื้อ ID : {{odata.id}}</h5>
    			   		<h5>ชื่อ : {{odata.first_name}}  {{odata.last_name}}</h5>
    			   		<h5>วันที่สั่งซื้อ : {{odata.order_date | date:'dd/MM/yyyy'}}</h5>
    			   		<br>
    			   		<h4 style="color:#37BC9B;">ราคาที่ต้องจ่าย</h4>
						<h4 class="text-right" style="color:#37BC9B;">{{odata.total_price | currency:'':0}} บาท</h4>
    			</div>
    		</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<h4 class="text-center">รายละเอียดการจ่ายเงิน</h4>
    		<hr>
    		<div class="panel panel-default">
    			<div class="panel-body">
    				<form>
    					<div class="form-group">
    						<label>ธนาคาร</label>
    						<input type="text" class="form-control" ng-model="bankName" placeholder="ชื่อธนาคารที่คุณใช้">
    					</div>
    					<div class="form-group">
    						<label>หมายเลขบัญชี</label>
    						<input type="text" class="form-control" ng-model="acNumber" placeholder="หมายเลขบัญชีที่คุณใช้">
    					</div>
    					<div class="form-group">
    						<label>วันที่โอนเงิน</label>
    						<input type="date" class="form-control" ng-model="payDate">
    					</div>
    					<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    				</form>
    			</div>
    		</div>
		</div>

    </div>

    <div class="row" ng-hide="!odata">
    	<div class="col-md-12 col-xs-12">
			<div class="col-md-8 col-xs-12 col-md-offset-2 text-right">
				<button type="button" class="btn btn-primary btn-lg" ng-disabled="!bankName || !acNumber || !payDate" ng-click="orderPay()">ตกลง</button>
			</div>
		</div>
    </div>

</div>